
<div mat-dialog-title class="content1" style="align-self: center; font-size: x-large; font-family: 'Geo', sans-serif;">
    Update Notes
  </div>
  
  <div mat-dialog-content class="content" style="align-self: center;">
    <div class="row">
      <mat-form-field appearance="outline" class="wide-input">
        <mat-label style="font-family: 'Geo', sans-serif;font-size: large;">Title</mat-label>
        <input matInput style="font-family: 'Poppins', sans-serif;" [(ngModel)]="note.title">
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline" class="wide-input">
        <mat-label style="font-family: 'Geo', sans-serif; font-size: large;">Type text here...</mat-label>
        <textarea matInput style="font-family: 'Poppins', sans-serif;" [(ngModel)]="note.text"></textarea>
      </mat-form-field>
    </div>
    <div class="row">
      <div class="row"><input type="color" [(ngModel)]="note.color"></div>
  </div>
  
  </div>
  
    
  <div mat-dialog-actions class="actions">
    <button mat-raised-button color="primary" type="submit" style="font-family: 'Poppins', sans-serif; font-size: large;" (click)="onUpdate()">
        Update
    </button>
    <button mat-raised-button style="font-family: 'Poppins', sans-serif;font-size: large;" (click)="cancel()">
        Cancel
    </button>
  </div>
  